* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    letter-spacing: 0.05em;
    color:  #ffffff;
}

body {
    font-family:'メイリオ', 'Meiryo', sans-serif;
    background-color: #36393e;
}

.title-wrapper {
    margin: 40px 0;
    text-align: center;
}

.container {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
}

.title {
    display: inline-block;
    border: solid;
}

.caution-wrapper {
    margin-bottom: 40px;
}

.caution {
    max-width: 600px;
    border: solid;
    margin: 0 auto;
    list-style: none;
}

.to-mainpage-wrapper {
    text-align: center;
}

.to-mainpage {
    display: inline-block;
    border: solid;
}


/* --------------------------------------- */
/* communication-mainpage.html用のcss記述欄 */
/* --------------------------------------- */

/* ランダム質問表示エリアの周囲 */
.question-wrapper {
    height: 80px;
    width: 100%;
    background-color: #000000CC;
    position: fixed;
    top: 0;
}

/* ランダム質問の表示ボックス */
.question {
    line-height: 80px;
    margin-left: 20px;
    color: #FFF;
    font-size: 26px;
    display: inline-block;
}

/* ------------------質問記入セクションのエリア------------------ */

/* プロフィールセクションの全てまとめた周囲 */
.sections-wrapper {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

/* セクションすべての周囲 */
.sections {
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

/* セクション１つ */
.section {
    display: block;
    height: 230px;
    border: solid;
    width: 50%;
}

/* セクション内入力用テキストボックス */
.answer {
    max-width:100%;
    color: black;
}

/* ------------------ランダムTipsの表示エリア------------------ */
.tips-wrapper {
    margin-bottom: 40px;
}

.tips {
    width: 90%;
    border: solid;
    margin: 0 auto;
}

.ChangeTips {
    background-color: black;
    border: solid 1px white;
    border-radius: 8px;
    box-shadow: 0 2px 0 white;
}

.ChangeTips:hover {
    cursor: pointer;
    opacity: 0.6;
}

.ChangeTips:active {
    transform: translateY(2px);
    box-shadow: 0 0 0 white;
}

/* ------------------管理者用ログインのエリア------------------ */

/* 管理者用ログインボタンの周囲 */
.administration-page-wrapper {
    text-align: center;
}

.administration-page {
    width: 80%;
    border: solid;
    display: inline-block; 
}



/* スマホ用レイアウト */
@media all and (max-width: 768px) {
    .sections {
        flex-direction: column;
        align-items:center;
    }

    .section {
        width: 80%;
    }
}