* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    letter-spacing: 0.05em;
    /* color:  #ffffff; */
    font-weight: bold;
}

/* ------------------------------------------------------------------------------ */
/* ----------------communication-toppage.html用のcss記述欄  ---------------------- */
/* ------------------------------------------------------------------------------ */

body {
    /* font-family:'メイリオ', 'Meiryo', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #36393e; */
}

.title-wrapper {
    margin: 40px 0;
    text-align: center;
}

.container {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
}

.title {
    display: inline-block;
    border: solid 1px white;
}

.caution-wrapper {
    margin-bottom: 40px;
}

.caution {
    max-width: 600px;
    border: solid 1px white;
    margin: 0 auto;
    list-style: none;
}

.to-mainpage-wrapper {
    text-align: center;
}

.to-mainpage {
    display: inline-block;
    border: solid 1px white;
}

/* ---------------------------------------------------- */
/* ------------------ポートフォリオ一覧------------------ */

.portfolio-section {
  background-color: #f7f7f7a3;
  padding: 120px 0;
}

.portfolio-header h1 {
  text-align: center;
  margin-bottom: 15px;
}

.portfolio-discription p {
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -20px;
}

.portfolio-item {
  /* width: 33%; */
  margin: 0 10px;
  margin-bottom: 20px;
}

.portfolio-image-wrapper {
  /* display: inline-block; */
  /* width: 80%; */
}

.portfolio-image {
  /* margin: 0;
  padding: 0; */
  display: block;
  margin: 0 auto;
}

.portfolio-body {
  text-align: center;
}

.portfolio-title {
  font-size: 12px;
  margin-top: 8px;
}

.portfolio-text {
  font-size: 10px;
}

/* ------------------------------------------------------------------------------ */
/* ----------------communication-mainpage.html用のcss記述欄 ---------------------- */
/* ------------------------------------------------------------------------------ */

/* ------------------------------------------------- */
/* ---------------------ヘッダー--------------------- */

/* ヘッダー */
.header-menu {
    height: 80px;
    width: 100%;
    background-color: #000000CC;
    color: #719DDC;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
}

.self-introduction {
    margin-left: 10px;
    color: #FFFFFF;
}

.menu {
    margin-left: auto;
}

.menu a {
  color: #FFFFFF;
}

/* ランダム質問の表示ボックスの周囲 */
/* .question {
    height: 80px;
    color: #FFF;
    display: flex;
    align-items: center;
} */

/* ランダム質問表示エリア */
/* .randomquestion {
    margin-left: 20px;
    font-size: clamp(1px, 5vw, 24px);
} */

/* 質問チェンジボタン */
/* .ChangeQuestion {
    height: 40px;
    box-sizing: border-box;
    margin-left: auto;
} */


/* ----------------------------------------------- */
/* ------------------ランダムTips------------------ */
.tips-wrapper {
  margin-top: 120px;
}

.tips {
  height: 140px;
  width: 90%;
  border: 1px solid #555555;
  margin: 0 auto 10px auto;
}

.randomtips {
  margin-left: 20px;
  font-size: 16px;
  font-weight: normal;
  /* color: orange; */
  /* font-size: clamp(1px, 5vw, 24px); */
}

/* .ChangeTips {
  display: block;
  margin: 0 auto;
} */

/* .ChangeTips,
.ChangeQuestion {
  font-weight: normal;
  background-color: #898989;
  border: solid 1px;
  border-radius: 8px;
  box-shadow: 0 2px 0;
}

.ChangeTips:hover,
.ChangeQuestion:hover {
  cursor: pointer;
  opacity: 0.6;
}

.ChangeTips:active,
.ChangeQuestion:active {
  transform: translateY(2px);
  box-shadow: 0 0 0 white;
} */

.ChangeTips a,
.modal-open-wrapper a {
  background: #eee;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 280px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}
.ChangeTips a:hover,
.modal-open-wrapper a:hover {
  background: #313131;
  color: #FFF;
}
.ChangeTips a:after,
.modal-open-wrapper a:after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #313131;
  border-right: 3px solid #313131;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 20px;
  border-radius: 1px;
  transition: 0.3s ease-in-out;
}
.ChangeTips a:hover:after,
.modal-open-wrapper a:hover:after {
  border-color: #FFF;
}


/* ---------------------------------------------------- */
/* ------------------モーダルウィンドウ------------------ */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    z-index: 5;
  }

  .modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .modal-title {
    margin: 10px 0 0 10px;
  }
  
  .modal-container {
    /* background-color: white; */
    background-color: #36393e;
    max-height: 90vh;
    max-width: 600px;
    width: 90%;
    overflow-y: auto;
    /* padding: 30px; */
  }
  
  .modal-close {
    background: transparent;
    border: 0;
    cursor: pointer;
    color: #FFFFFF;
    margin-right: 20px;
  }
  
  .modal-header .modal-close::before {
    content: "\2715";
  }
  
  .modal-content {
    /* line-height: 1.5; */
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  /* .modal-open {
    display: block;
    margin: 140px auto 0 auto;
    background-color: #898989;
    border: solid 1px white;
    border-radius: 8px;
    box-shadow: 0 2px 0 white;
  } */

  /* モーダルアニメーション */
@keyframes mmfadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes mmfadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  @keyframes mmslideIn {
    from {
      transform: translateY(15%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes mmslideOut {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-10%);
    }
  }
  
  .micromodal-slide {
    display: none;
  }
  
  .micromodal-slide.is-open {
    display: block;
  }
  
  .micromodal-slide[aria-hidden="false"] .modal-overlay {
    animation: mmfadeIn .3s cubic-bezier(.0, .0, .2, 1);
  }
  
  .micromodal-slide[aria-hidden="false"] .modal-container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal-overlay {
    animation: mmfadeOut .3s cubic-bezier(.0, .0, .2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal-container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide .modal-container,
  .micromodal-slide .modal-overlay {
    will-change: transform;
  }


/* ----------------------------------------------- */
/* ------------------入力フォーム------------------ */
.inputform-wrapper {
    margin: 140px 0;
}

/* 入力フォームの枠 */
.inputform-border {
    display: flex;
    /* border: 1px solid #777777;
    max-width: 600px;
    height: 340px; */
    margin: 0 auto;
}

/* 入力ボックスの内側の周囲 */
.input-inner {
    width: 90%;
    height: 90%;
    margin: auto;
}

/* 入力フォーム1行分 */
.input-box {
    max-height: 52px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

/* 「必須」の右の文字列 */
.inputform-text2 {
    display: inline-block;
    font-size: clamp(1px, 3vw, 16px);
    color: #719DDC;
    margin-left: 10px;
}

/* ランダム質問 */
.randomquestion2 {
    
}

/* 改行用の空要素 */
.empty {
    width: 100%;
}

/* 入力ボックス */
.input {
    display: block;
    height: 24px;
    width: 240px;
    color: black;
    margin-left: auto;
}

/* 送信ボタン */
.send {
    color: white;
    background-color: #898989;
    margin: 25px auto 0 auto;
}

/* ------------------------------------------------------------- */
/* ------------------入力した情報の描画セクション------------------ */

/* プロフィールセクションの全てまとめた周囲 */
.sections-wrapper {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

/* セクションすべての周囲 */
.sections {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

/* セクション１つ */
.section {
    height: 340px;
    border: 1px solid #555555;
    width: 50%;
}

/* セクション内部の行 */
.section p {
    text-align: left;
    padding-left: 10px;
    margin: 10px 0 10px 0;
}

/* セクション内入力用テキストボックス */
.answer {
    max-width:100%;
    color: black;
}

/* ------------------------------------------- */
/* ------------------フッター------------------ */
footer {
    width: 100%;
    height: 40px;
    background-color: #000000CC;
    position: absolute;
    bottom: 0;
}

/* フッター文字列の範囲 */
.footer-copyright {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

/* フッター文字列 */
.footer-copyright-text {
    font-weight: normal;
    color: #FFFFFF;
    font-size: 12px;
}



/* ---------------------------------------------------- */
/* ------------------スマホ用レイアウト------------------ */
@media all and (max-width: 768px) {
    .sections {
        flex-direction: column;
        align-items:center;
    }

    .section {
        width: 80%;
    }
}